body {
  user-select: none;
  background-color: whitesmoke !important;
}

.hidden {
  display: none !important;
}

.full-screen {
  height: 100vh;
  width: 100vw;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card {
  border: 1px gray solid;
  margin-top: 50px;
  border-radius: 30px;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprite-image {
  margin-top: 25px;
  width: auto;
  height: 200px;
}

.pokemon-name {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 25px;
}

.pokemon-types {
  margin-top: 10px;
}

.reveal-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #e20b8c, #f84b00);
  color: whitesmoke;
}

.name-banner {
  font-weight: bolder;
  font-size: 400px;
  margin: none;
  color: rgba(250, 250, 250, 0.65);
  user-select: none;
  text-wrap: none;
}

.top-banner {
  position: absolute;
  top: -250px;
  right: -100%;
}

.top-slide {
  animation: slideInTop 2s ease forwards;
}

@keyframes slideInTop {
  0% {
    right: -150%;
  }
  100% {
    right: 0;
  }
}

.bottom-banner {
  position: absolute;
  bottom: -250px;
  left: -100%;
}

.bottom-slide {
  animation: slideInBottom 2s ease forwards;
}

@keyframes slideInBottom {
  0% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}

.open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.open-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: whitesmoke;
  position: relative;
  transition: transform ease 0.5s;
}

.open-cost {
  color: #f84b00;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  opacity: 0;
  transition: opacity ease 0.4s;
}

.open-circle:hover {
  transform: scale(1.1);
}

.open-circle:hover .open-cost {
  opacity: 1;
}

.circle-text {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: rotate 40s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-text span {
  position: absolute;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 40px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: "Doto", sans-serif;
  font-size: 30px;
}

.reveal-details {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal-sprite {
  margin-top: 50px;
  width: auto;
  height: 200px;
}

.pokemon-reveal-name {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 35px;
}

.pokemon-reveal-stats {
  font-family: "Doto", sans-serif;
  font-size: 30px;
}

.reveal-circle {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 50%;
  animation-name: fly-out;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 7px 10px whitesmoke;
}

@keyframes fly-out {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--x), var(--y)) scale(0.1);
    opacity: 0;
  }
}

.pen {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #e20b8c, #f84b00);
}

.poke-ai {
  position: absolute;
  user-select: none;
  transition: top 0.5s ease, left 0.5s ease;
  border-radius: 50%;
}

.emote {
  color: whitesmoke;
  font-size: 25px;
}

// Styling for general circle buttons
.button-circle {
  background-color: whitesmoke;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  top: 30px;
  left: 30px;
  transition: box-shadow 0.3s ease;
  z-index: 9999;
}

.link {
  text-decoration: none !important;
  color: #f84b00;
}

// Hover effect
.button-circle:hover {
  box-shadow: 0px 4px 10px whitesmoke, 4px 0px 10px whitesmoke,
    -4px 0px 10px whitesmoke, 0px -4px 10px whitesmoke;
}

.spin {
  animation: rotate 0.7s ease-out infinite;
}

.bounce {
  animation: bounce 0.4s ease-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.generic-container {
  display: flex;
  flex-direction: column;
}

.link-strip {
  text-decoration: none !important;
}

.top-header {
  height: 70px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

.pen-section {
  background: linear-gradient(45deg, #e20b8c, #f84b00);
  height: 75vh;
  overflow: hidden;
  position: relative;
}

.bottom-content {
  padding-top: 50px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #e20b8c;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin-left: 30px;
}

.currency-display {
  margin-right: 20px;
  display: flex;
  color: #e20b8c;
  align-items: center;
  gap: 15px;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
}

.currency-icon {
  font-size: 30px;
}

.open-cost {
  text-align: center;
}

.currency-amount {
  font-size: 25px;
}

.game-title {
  color: #e20b8c;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

.draw-link {
  margin-left: auto;
  color: #e20b8c;
  font-family: "Doto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.tut-arrow {
  margin-right: 20px;
  font-size: 30px;
  color: #e20b8c;
  animation: tutBounce 0.5s ease infinite;
}

@keyframes tutBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.coin-spawn {
  position: absolute;
  color: whitesmoke;
  font-size: 50px;
  animation: coinBounce 2s ease-out infinite;
  cursor: pointer;
}

@keyframes coinBounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20px) scale(1.05);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.collect-anim {
  animation: collect-anim 0.5s forwards;
}

@keyframes collect-anim {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.open-currency-display {
  background-color: whitesmoke;
  position: absolute;
  right: 30px;
  top: 33px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.events {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  opacity: 0.7;
  height: 50px;
  margin-top: -50px;
}

.event-display {
  color: #e20b8c;
  font-family: "Doto", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.pokedex {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.pokedex-card {
  display: flex;
  width: 200px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #f84b00 solid !important;
  padding: 30px;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
}

.pokedex-image {
  margin-top: auto;
}

.pokedex-name {
  margin-top: 15px;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #e20b8c;
  text-wrap: wrap;
  text-align: center;
}

.pokedex-type {
  margin-top: 10px;
  font-family: "Doto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #e20b8c;
  text-wrap: wrap;
  text-align: center;
}

.dex-desc {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Doto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #e20b8c;
  text-align: center;
}

.pokedex-number {
  margin-left: auto;
  margin-right: -50px;
  margin-top: -15px;
  font-family: "Doto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #f84b00;
  padding-right: 30px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.log-container {
  margin-top: 50px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: whitesmoke;
}

.log {
  width: 100%;
  overflow-y: scroll;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #e20b8c;
  text-wrap: wrap;
  text-align: left;
  border: #f84b00 2px solid;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

.super-coin {
  font-size: 100px;
  animation: SuperCoinBounce 0.5s linear infinite;
}
.super-coin:hover {
  transform: scale(1.2);
}

@keyframes SuperCoinBounce {
  0% {
    transform: translateY(0) scale(1);
  }
  33% {
    transform: rotate(-20deg) scale(1.3);
  }
  66% {
    transform: rotate(20deg) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.load-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #e20b8c;
  margin-bottom: 30px;
}

.save-file {
  cursor: pointer;
  background-color: #e20b8c;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.hamburger {
  margin-left: 20px;
  font-size: 30px;
  color: #e20b8c;
  margin-right: 20px;
}

.redeem-link {
  margin-top: 46.5px;
}